@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500;700&family=Roboto&family=Space+Mono:wght@400;700&display=swap');


:root{
    --background: #40394A;
    --cor-barras: #1C1427;
    --cor-texto-principal: #DBE2EF;
    --cor-texto-barras: #7ECA9C;
    --cor-texto-barras-hover: #CCFFBD;
    --fonte-barras: 'Montserrat', sans-serif;
    --fonte-titulo: 'Inconsolata', monospace;
    --fonte-principal: 'Roboto', sans-serif

}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background);
}

.navbar{
    display: flex;
    gap: 1.2rem;
    background-color: var(--cor-barras);
    padding: 1rem;
}

.nav_link{
    text-decoration: none;
    font-family: var(--fonte-barras);
    font-size: 1.1rem;
    color: var(--cor-texto-barras);
    margin-left: 1.5rem;
}

.nav_link:hover{
    color: var(--cor-texto-barras-hover);
}

.apresentacao{
    background-color: var(--background);
}

.apresentacao_titulo{
    font-family: var(--fonte-titulo);
    color: var(--cor-texto-barras);
    padding: 1rem 2.5rem 0.5rem;
}

.apresentacao_texto{
    text-align: justify;
    font-family: var(--fonte-principal);
    font-weight: 1000;
    font-size: 1rem;
    color: var(--cor-texto-principal);
    padding: 0 2.5rem 0.5rem;
}

.apresentacao_conteudo{
    padding: 0.5rem;
}

.apresentacao_botoes{
    font-family: var(--fonte-principal);
    color: var(--cor-texto-principal);
}

.apresentacao_conteudo_titulo{
    font-family: var(--fonte-titulo);
    color: var(--cor-texto-barras);
    padding: 0.5rem 2.5rem 0.5rem;
}

.apresentacao_conteudo_texto{     
    color: var(--cor-texto-principal);
    text-align: justify;
    font-family: var(--fonte-principal);
    font-size: 1rem;
    padding: 0 2.7rem 0.5rem;
}

.apresentacao_conteudo_imagem{
    padding: 2rem 2.5rem;
    width: 13rem;
}

.apresentacao_conteudo_imagem_pai{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

.apresentacao > img{
    width: 13rem;
    padding: 0 2.5rem 1rem;
}

.rodape{
    font-size: larger;
    color: var(--cor-texto-barras);
    text-align: center;
    background-color: var(--cor-barras);
    font-family: var(--fonte-barras);
    padding: 1rem;
    bottom: 0;
}

.rodape_nocontent{
    font-size: larger;
    position: absolute;
    color: var(--cor-texto-barras);
    text-align: center;
    background-color: var(--cor-barras);
    font-family: var(--fonte-barras);
    padding: 1rem;
    bottom: 0;    
    width: 97.85%;
}

/* #imagem_fun{
    height: 20rem;
    width: 20rem;
    padding: 0 2.7rem 0.1rem;
} */

