@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&family=Roboto:wght@100&display=swap');

:root{
    --cor-primaria: 
    --cor-secundaria:
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1B6B93;
}

.navbar{
    display: flex;
    gap: 1.2rem;
    background-color: #1C1427;
    padding: 1rem;
}

.nav_link{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    color: #7ECA9C;
    margin-left: 1.5rem;
}

.apresentacao{
    background-color: #b6c157;
    margin: 0% 5%;
    height: 90%;
}

.apresentacao_titulo{
    font-family: 'Krona One', sans-serif;
    font-size: 2rem;
    padding: 0.5rem auto auto;
}

.apresentacao_texto{
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    font-size: 1rem;

}

.apresentacao_conteudo{
    padding: 0.5rem;
}

.apresentacao_conteudo_texto{
    
}

.rodape{
    font-size: larger;
    color: #A2FF86;
    position: fixed;
    text-align: center;
    background-color: #164B60;
    padding: 1rem;
    width: 100%;
    bottom: 0;
    /*display: flex;
    align-items: end;*/
}

#imagem_fun{
    height: 20rem;
    width: 20rem;
}