<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body background="../static/img/binario.jpg">
    <header>
        <nav class="navbar">
            <a class="nav_link" href="index">Home</a>
            <a class="nav_link" href="conversor">Conversor</a>
            <a class="nav_link" href="sobre">Sobre mim</a>
        </nav>
    </header>
    <main class="apresentacao">
        <h1 class="apresentacao_titulo">CONVERSOR DE NÚMEROS</h1><br>
        <p class="apresentacao_texto">Esta é uma página que permite os usuários a converter seus números de sistemas numéricos diferentes, como o binário, hexadecimal e octal.</p>
        <section class="apresentacao_conteudo">
            <h2>Binário</h2>
            <p class="apresentacao_conteudo_texto">O sistema binário ou de base 2 é um sistema de numeração posicional em que todas as quantidades se representam com base em dois números, ou seja, zero e um. Os computadores digitais trabalham internamente com dois níveis de tensão, pelo que o seu sistema de numeração natural é o sistema binário.</p>
            <img id="imagem_fun" src="../static/img/binjk.webp">
        </section>
        
    </main>
    <footer class="rodape"><p>Desenvolvido por John Wick.</p></footer>
</body>
</html>