<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mim</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="nav_link" href="index">Home</a>
            <a class="nav_link" href="conversor">Conversor</a>
            <a class="nav_link" href="sobre">Sobre mim</a>
        </nav>
    </header>
    <main>
        
    </main>
    <footer class="rodape"><p>Desenvolvido por John Wick.</p></footer>
</body>
</html>